
span {
    color: white;
}
/*colors for different UV index */
.uvGreen {
    background-color: green;
}

.uvYellow {
    background-color: yellow;
}

.uvOrange {
    background-color: orange;
}

.uvRed {
    background-color: red;
}

.uvViolet {

    background-color: violet;
}

#history {

    margin-top: 20px;
}

.daily {

    margin: 8px;
}